In [1]:
import pandas as pd
import numpy as np
from math import log
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_header = ['url']
sql = pd.read_csv('validation_sql.txt',header=None, sep='\n')
sql.columns = data_header
sql['label'] = 1
sql.head()

                                       url  label
0     1%25%27%29%29%20AND%204264%3D9725%23      1
1     1%25%27%29%29%20AND%208787%3D8787%23      1
2  1%25%27%29%29%29%20AND%201781%3D6047%23      1
3  1%25%27%29%29%29%20AND%208787%3D8787%23      1
4           1%25%27%20AND%209027%3D9130%23      1

In [3]:
normal = pd.read_csv('validation_normal.txt',header=None, sep='\n')
normal.columns = data_header
normal['label'] = 0
normal.head()

                                                 url  label
0                             /wp-login.php?action=0      0
1  /wp-login.php?action=h5bLUVrUAZPRFE7gNEPKkLNCS...      0
2                             /wp-login.php?action=3      0
3                 /wp-login.php?action=1492877888208      0
4  /wp-login.php?action=b6f01e808cfd526e827fe0233...      0

In [4]:
data = pd.concat([sql, normal], axis=0, ignore_index=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 2 columns):
url      19999 non-null object
label    19999 non-null int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [5]:
import nltk
import re
from urllib.parse import unquote
def urldecode(url):
    url = unquote(url, 'utf-8')
    return url

In [6]:
data['url_decode'] = data['url'].map(lambda x: urldecode(x))

In [7]:
data.head()

                                       url  label             url_decode
0     1%25%27%29%29%20AND%204264%3D9725%23      1   1%')) AND 4264=9725#
1     1%25%27%29%29%20AND%208787%3D8787%23      1   1%')) AND 8787=8787#
2  1%25%27%29%29%29%20AND%201781%3D6047%23      1  1%'))) AND 1781=6047#
3  1%25%27%29%29%29%20AND%208787%3D8787%23      1  1%'))) AND 8787=8787#
4           1%25%27%20AND%209027%3D9130%23      1     1%' AND 9027=9130#

In [8]:
from urllib import parse
def get_payload(url):
    if '?' in url:
        values = url.split('?')[-1]
        key_value = values.split("&")
        try:
            dict_values = dict(item.split("=", 1) for item in key_value)
            length = 0
            temp = ''
            for key, value in dict_values.items():
                if len(value) > length:
                    length = len(value)
                    temp = key
            return dict_values[temp]
        except:
            return str(key_value)
    else:
        return url

In [9]:
data['payload'] = data['url_decode'].map(lambda x: get_payload(x))

In [10]:
def get_length(payload):
    return len(payload)

In [11]:
data['payload_len'] = data['payload'].map(lambda x: get_length(x))

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 5 columns):
url            19999 non-null object
label          19999 non-null int64
url_decode     19999 non-null object
payload        19999 non-null object
payload_len    19999 non-null int64
dtypes: int64(2), object(3)
memory usage: 781.3+ KB

In [13]:
import re
def get_num_freq(payload):
    if len(payload) == 0:
        return 0
    num_len=len(re.compile(r'\d').findall(payload))
    return num_len / len(payload)

In [14]:
data['num_freq'] = data['payload'].map(lambda x: get_num_freq(x))

In [15]:
def get_capital_freq(payload):
    capital_len = len(re.compile(r'[A-Z]').findall(payload))
    if len(payload)!=0:
        return capital_len / len(payload)
    else:
        return 0

In [16]:
data['capital_freq'] = data['payload'].map(lambda x: get_capital_freq(x))

In [17]:
def get_space_freq(payload):
    if len(payload) == 0:
        return 0
    return (payload.count(" ") + payload.count("%20")) / len(payload)

In [18]:
data['space_freq'] = data['payload'].map(lambda x: get_space_freq(x))

In [19]:
words = [
    "select", "from", "insert", "delete", "having", 
    "union", "count", "drop table", "update",
    "truncate", "asc", "mid", "char", "xp_cmdshell", 
    "exec", "master", "net", "and", "or", "where", "substr", 
    "information schema", "xor", "version", "set",
    "where", "group", "order", "create", "sum", "max",
    "min", "avg", "having", "except"
]
def get_key_num(payload):
    payload = payload.lower()
    count = 0
    for word in words:
        count = count + payload.count(word)
    return count

In [20]:
data['key_num'] = data['payload'].map(lambda x: get_key_num(x))

In [21]:
data

,url,label,url_decode,payload,payload_len,num_freq,capital_freq,space_freq,key_num
0,1%25%27%29%29%20AND%204264%3D9725%23,1,1%')) AND 4264=9725#,1%')) AND 4264=9725#,20,0.450000,0.150000,0.100000,1
1,1%25%27%29%29%20AND%208787%3D8787%23,1,1%')) AND 8787=8787#,1%')) AND 8787=8787#,20,0.450000,0.150000,0.100000,1
2,1%25%27%29%29%29%20AND%201781%3D6047%23,1,1%'))) AND 1781=6047#,1%'))) AND 1781=6047#,21,0.428571,0.142857,0.095238,1
3,1%25%27%29%29%29%20AND%208787%3D8787%23,1,1%'))) AND 8787=8787#,1%'))) AND 8787=8787#,21,0.428571,0.142857,0.095238,1
4,1%25%27%20AND%209027%3D9130%23,1,1%' AND 9027=9130#,1%' AND 9027=9130#,18,0.500000,0.166667,0.111111,1
5,1%25%27%20AND%208787%3D8787%23,1,1%' AND 8787=8787#,1%' AND 8787=8787#,18,0.500000,0.166667,0.111111,1
6,1%00%27%29%20AND%207841%3D4363%23,1,1 ') AND 7841=4363#,1 ') AND 7841=4363#,19,0.473684,0.157895,0.105263,1
7,1%00%27%29%20AND%208787%3D8787%23,1,1 ') AND 8787=8787#,1 ') AND 8787=8787#,19,0.473684,0.157895,0.105263,1
8,1%00%27%20AND%203807%3D5244%23,1,1 ' AND 3807=5244#,1 ' AND 3807=5244#,18,0.500000,0.166667,0.111111,1
9,1%00%27%20AND%208787%3D8787%23,1,1 ' AND 8787=8787#,1 ' AND 8787=8787#,18,0.500000,0.166667,0.111111,1
10,1%27%29%20WHERE%203891%3D3891%20AND%209049%3D4...,1,1') WHERE 3891=3891 AND 9049=4307#,1') WHERE 3891=3891 AND 9049=4307#,34,0.500000,0.235294,0.117647,3
11,1%27%29%20WHERE%206165%3D6165%20AND%208787%3D8...,1,1') WHERE 6165=6165 AND 8787=8787#,1') WHERE 6165=6165 AND 8787=8787#,34,0.500000,0.235294,0.117647,3
12,1%22%29%20WHERE%204009%3D4009%20AND%204570%3D1...,1,"1"") WHERE 4009=4009 AND 4570=1685#","1"") WHERE 4009=4009 AND 4570=1685#",34,0.500000,0.235294,0.117647,3
13,1%22%29%20WHERE%202519%3D2519%20AND%208787%3D8...,1,"1"") WHERE 2519=2519 AND 8787=8787#","1"") WHERE 2519=2519 AND 8787=8787#",34,0.500000,0.235294,0.117647,3
14,1%27%20WHERE%208581%3D8581%20AND%205292%3D3782%23,1,1' WHERE 8581=8581 AND 5292=3782#,1' WHERE 8581=8581 AND 5292=3782#,33,0.515152,0.242424,0.121212,3
15,1%27%20WHERE%202031%3D2031%20AND%208787%3D8787%23,1,1' WHERE 2031=2031 AND 8787=8787#,1' WHERE 2031=2031 AND 8787=8787#,33,0.515152,0.242424,0.121212,3
16,1%22%20WHERE%202338%3D2338%20AND%208262%3D8429%23,1,"1"" WHERE 2338=2338 AND 8262=8429#","1"" WHERE 2338=2338 AND 8262=8429#",33,0.515152,0.242424,0.121212,3
17,1%22%20WHERE%204053%3D4053%20AND%208787%3D8787%23,1,"1"" WHERE 4053=4053 AND 8787=8787#","1"" WHERE 4053=4053 AND 8787=8787#",33,0.515152,0.242424,0.121212,3
18,1%27%7C%7C%28SELECT%20%27cyqA%27%20FROM%20DUAL...,1,1'||(SELECT 'cyqA' FROM DUAL WHERE 7380=7380 A...,1'||(SELECT 'cyqA' FROM DUAL WHERE 7380=7380 A...,59,0.288136,0.389831,0.118644,5
19,1%27%7C%7C%28SELECT%20%27bQsC%27%20FROM%20DUAL...,1,1'||(SELECT 'bQsC' FROM DUAL WHERE 7852=7852 A...,1'||(SELECT 'bQsC' FROM DUAL WHERE 7852=7852 A...,59,0.288136,0.406780,0.118644,5
20,1%27%7C%7C%28SELECT%20%27zLws%27%20WHERE%20458...,1,1'||(SELECT 'zLws' WHERE 4587=4587 AND 4958=6445#,1'||(SELECT 'zLws' WHERE 4587=4587 AND 4958=6445#,49,0.346939,0.306122,0.102041,4
21,1%27%7C%7C%28SELECT%20%27ltIt%27%20WHERE%20764...,1,1'||(SELECT 'ltIt' WHERE 7640=7640 AND 8787=8787#,1'||(SELECT 'ltIt' WHERE 7640=7640 AND 8787=8787#,49,0.346939,0.306122,0.102041,4
22,1%27%2B%28SELECT%20ltSQ%20WHERE%209031%3D9031%...,1,1'+(SELECT ltSQ WHERE 9031=9031 AND 7809=2722#,1'+(SELECT ltSQ WHERE 9031=9031 AND 7809=2722#,46,0.369565,0.347826,0.108696,4
23,1%27%2B%28SELECT%20ceeS%20WHERE%206114%3D6114%...,1,1'+(SELECT ceeS WHERE 6114=6114 AND 8787=8787#,1'+(SELECT ceeS WHERE 6114=6114 AND 8787=8787#,46,0.369565,0.326087,0.108696,4
24,1%27%2B%28SELECT%20%27xFyA%27%20WHERE%204572%3...,1,1'+(SELECT 'xFyA' WHERE 4572=4572 AND 6837=4164#,1'+(SELECT 'xFyA' WHERE 4572=4572 AND 6837=4164#,48,0.354167,0.333333,0.104167,4
25,1%27%2B%28SELECT%20%27jVuk%27%20WHERE%205088%3...,1,1'+(SELECT 'jVuk' WHERE 5088=5088 AND 8787=8787#,1'+(SELECT 'jVuk' WHERE 5088=5088 AND 8787=8787#,48,0.354167,0.312500,0.104167,4
26,1%27%20IN%20BOOLEAN%20MODE%29%20AND%203616%3D8...,1,1' IN BOOLEAN MODE) AND 3616=8575#,1' IN BOOLEAN MODE) AND 3616=8575#,34,0.264706,0.470588,0.147059,1
27,1%27%20IN%20BOOLEAN%20MODE%29%20AND%208787%3D8...,1,1' IN BOOLEAN MODE) AND 8787=8787#,1' IN BOOLEAN MODE) AND 8787=8787#,34,0.264706,0.470588,0.147059,1
28,1%29%20AND%201525%3D2537--%20,1,1) AND 1525=2537--,1) AND 1525=2537--,19,0.473684,0.157895,0.157895,1
29,1%29%20AND%206250%3D6250--%20,1,1) AND 6250=6250--,1) AND 6250=6250--,19,0.473684,0.157895,0.157895,1
...,...,...,...,...,...,...,...,...,...
19969,/wp-login.php?action=1024*600,0,/wp-login.php?action=1024*600,1024*600,8,0.875000,0.000000,0.000000,0
19970,/wp-login.php?action=1452038414,0,/wp-login.php?action=1452038414,1452038414,10,1.000000,0.000000,0.000000,0
19971,/wp-login.php?action=Windows,0,/wp-login.php?action=Windows,Windows,7,0.000000,0.142857,0.000000,0
19972,/wp-login.php?action=Firefox%2050,0,/wp-login.php?action=Firefox 50,Firefox 50,10,0.200000,0.100000,0.100000,0
19973,/wp-login.php?action=1492877924684,0,/wp-login.php?action=1492877924684,1492877924684,13,1.000000,0.000000,0.000000,0
19974,/wp-login.php?action=2017/4/23%200:18:22,0,/wp-login.php?action=2017/4/23 0:18:22,2017/4/23 0:18:22,17,0.705882,0.000000,0.058824,0
19975,/wp-login.php?action=/Public/js/jquery-1.8.2.m...,0,/wp-login.php?action=/Public/js/jquery-1.8.2.m...,"/Public/js/jquery-1.8.2.min.js,/nlive/resource...",79,0.037975,0.012658,0.000000,1
19976,/wp-login.php?action=1492877809442,0,/wp-login.php?action=1492877809442,1492877809442,13,1.000000,0.000000,0.000000,0
19977,/wp-login.php?action=170203,0,/wp-login.php?action=170203,170203,6,1.000000,0.000000,0.000000,0
19978,/wp-login.php?action=1492877916953,0,/wp-login.php?action=1492877916953,1492877916953,13,1.000000,0.000000,0.000000,0
19979,/wp-login.php?action=2017/4/23%200:18:38,0,/wp-login.php?action=2017/4/23 0:18:38,2017/4/23 0:18:38,17,0.705882,0.000000,0.058824,0
19980,/wp-login.php?action=.com/nhan-biet-dau-hieu-t...,0,/wp-login.php?action=.com/nhan-biet-dau-hieu-t...,CLfa6O7Pj9MCFdAHKgodr5YOEA,26,0.153846,0.538462,0.000000,0
19981,/wp-login.php?action=http%3A//ytequocte,0,/wp-login.php?action=http://ytequocte,http://ytequocte,16,0.000000,0.000000,0.000000,0
19982,/wp-login.php?action=proactive%2520invitation%...,0,/wp-login.php?action=proactive%20invitation%20...,proactive%20invitation%20from%20the%20first%20...,56,0.232143,0.017857,0.107143,1
19983,/wp-login.php?action=14928490894323,0,/wp-login.php?action=14928490894323,14928490894323,14,1.000000,0.000000,0.000000,0
19984,/wp-login.php?action=1492848750388241303897,0,/wp-login.php?action=1492848750388241303897,1492848750388241303897,22,1.000000,0.000000,0.000000,0
19985,/wp-login.php?action=http%3A//ytequocte.com/nh...,0,/wp-login.php?action=http://ytequocte.com/nhan...,CLfa6O7Pj9MCFdAHKgodr5YOEA,26,0.153846,0.538462,0.000000,0
19986,/wp-login.php?action=1492848750388241303897,0,/wp-login.php?action=1492848750388241303897,1492848750388241303897,22,1.000000,0.000000,0.000000,0
19987,/wp-login.php?action=en,0,/wp-login.php?action=en,en,2,0.000000,0.000000,0.000000,0
19988,/wp-login.php?action=MEI98268253,0,/wp-login.php?action=MEI98268253,MEI98268253,11,0.727273,0.272727,0.000000,0
19989,/wp-login.php?action=1019146k,0,/wp-login.php?action=1019146k,1019146k,8,0.875000,0.000000,0.000000,0
19990,/wp-login.php?action=jrjc0001,0,/wp-login.php?action=jrjc0001,jrjc0001,8,0.500000,0.000000,0.000000,0
19991,/wp-login.php?action=16,0,/wp-login.php?action=16,16,2,1.000000,0.000000,0.000000,0
19992,/wp-login.php?action=1,0,/wp-login.php?action=1,1,1,1.000000,0.000000,0.000000,0
19993,/wp-login.php?action=2017042300025512,0,/wp-login.php?action=2017042300025512,2017042300025512,16,1.000000,0.000000,0.000000,0
19994,/wp-login.php?action=531083,0,/wp-login.php?action=531083,531083,6,1.000000,0.000000,0.000000,0
19995,/wp-login.php?action=a0569c2c558ee7edd2e5fcc56...,0,/wp-login.php?action=a0569c2c558ee7edd2e5fcc56...,a0569c2c558ee7edd2e5fcc565da24a8,32,0.531250,0.000000,0.000000,0
19996,/wp-login.php?action=2017/4/23%200:18:19,0,/wp-login.php?action=2017/4/23 0:18:19,2017/4/23 0:18:19,17,0.705882,0.000000,0.058824,0
19997,/wp-login.php?action=64b92ec216eaf0d4881684eb0...,0,/wp-login.php?action=64b92ec216eaf0d4881684eb0...,64b92ec216eaf0d4881684eb06f223a0,32,0.656250,0.000000,0.000000,0
19998,/wp-login.php?action=DNvbT0JFMQXzYyMSXUlIs5EO9...,0,/wp-login.php?action=DNvbT0JFMQXzYyMSXUlIs5EO9...,DNvbT0JFMQXzYyMSXUlIs5EO9MR3Mt113414004,39,0.333333,0.487179,0.000000,0

In [22]:
data = data.drop('url', axis = 1)
data = data.drop('url_decode', axis = 1)
data = data.drop('payload', axis = 1)

In [23]:
X = data.drop('label', axis=1)
Y = data['label']

In [24]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
Xmin_max = min_max_scaler.fit_transform(X)

In [25]:
from sklearn.model_selection import train_test_split
x,y = data.ix[:,1:],data.ix[:,0]
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(x, y, train_size = 0.8, test_size=0.2, random_state=0, stratify = y)
X_train, X_test, Y_train, Y_test = train_test_split(Xmin_max, Y, train_size = 0.8, test_size=0.2, random_state=0, stratify = Y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

## å†³ç­–æ ‘

In [26]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(criterion='entropy')
decision_tree.fit(X_train1, Y_train1)
acc_decision_tree = round(decision_tree.score(X_train1, Y_train1) * 100, 2)
print("Training accuracyï¼š", acc_decision_tree)

Training accuracyï¼š 99.91

In [27]:
from sklearn.metrics import accuracy_score, recall_score
Y_pred = decision_tree.predict(X_test1)
print("Test accuaryï¼š", accuracy_score(Y_test1, Y_pred))
print("Recall score:", recall_score(Y_test1, Y_pred))

Test accuaryï¼š 0.99625
Recall score: 0.996

In [28]:
from sklearn.model_selection import StratifiedKFold,cross_val_score
strKFold = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
scores = cross_val_score(decision_tree,X,Y,cv=strKFold)
print("Mean score of straitified cross validation:{:.2f}".format(scores.mean()))

Mean score of straitified cross validation:0.99

## Logisticså›žå½’

In [29]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='liblinear', max_iter = 10000)
log_reg.fit(X_train, Y_train)
acc_log = round(log_reg.score(X_train, Y_train) * 100, 2)
print("Training accuracyï¼š", acc_log)

Training accuracyï¼š 96.64

In [30]:
from sklearn.metrics import accuracy_score, recall_score
Y_pred = log_reg.predict(X_test)
print("Test accuracyï¼š", accuracy_score(Y_test, Y_pred))
print("Recall score:", recall_score(Y_test, Y_pred))

Test accuracyï¼š 0.96625
Recall score: 0.959

In [31]:
from sklearn.model_selection import StratifiedKFold,cross_val_score
strKFold = StratifiedKFold(n_splits=10,shuffle=True,random_state=0)
scores = cross_val_score(log_reg,X,Y,cv=strKFold)
print("Mean score of straitified cross validation:{:.2f}".format(scores.mean()))

Mean score of straitified cross validation:0.97

## è¾“å…¥æµ‹è¯•

In [32]:
def get_features(url):
    url = urldecode(url)
    payload = get_payload(url)
    length = get_length(payload)
    num_freq = get_num_freq(payload)
    capital_freq = get_capital_freq(payload)
    space_freq = get_space_freq(payload)
    key_num = get_key_num(payload)
    return [length, num_freq, capital_freq, space_freq, key_num]

In [33]:
def test(url):
    test_features = []
    test_features.append(get_features(url))
    pre = decision_tree.predict(test_features)
    print("SQL injection") if pre == 1 else print("Normal url")

In [34]:
test("https://github.com/scusec/Data-Mining-for-Cybersecurity/tree/master/Homework/2019/Task5")

Normal url

In [35]:
test("http://localhost/sqlilabs/Less-2/?id=-1 union select 1,2,SCHEMA_NAME, from information_schema.SCHEMATA limit 1,1")

SQL injection

## ç”¨å¦ä¸€ä¸ªæ•°æ®é›†è¿›è¡Œæµ‹è¯•

In [36]:
data_header = ['url']
test_sql = pd.read_csv("sqlnew.csv", engine="python", sep='\n', error_bad_lines=False)
test_sql.columns = data_header
test_sql['label'] = 1
test_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4942 entries, 0 to 4941
Data columns (total 2 columns):
url      4942 non-null object
label    4942 non-null int64
dtypes: int64(1), object(1)
memory usage: 77.3+ KB

Skipping line 167: Expected 1 fields in line 167, saw 2
Skipping line 287: Expected 1 fields in line 287, saw 2
Skipping line 290: Expected 1 fields in line 290, saw 2
Skipping line 294: Expected 1 fields in line 294, saw 2
Skipping line 334: Expected 1 fields in line 334, saw 2

In [37]:
test_normal = pd.read_csv('normal_less.csv',header=None, sep='\n')
test_normal.columns = data_header
test_normal['label'] = 0
test_normal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
url      5000 non-null object
label    5000 non-null int64
dtypes: int64(1), object(1)
memory usage: 78.2+ KB

In [38]:
test_data = pd.concat([test_sql, test_normal], axis=0, ignore_index=True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9942 entries, 0 to 9941
Data columns (total 2 columns):
url      9942 non-null object
label    9942 non-null int64
dtypes: int64(1), object(1)
memory usage: 155.4+ KB

In [39]:
test_data['url_decode'] = test_data['url'].map(lambda x: urldecode(x))

In [40]:
test_data['payload'] = test_data['url_decode'].map(lambda x: get_payload(x))

In [41]:
test_data['payload_len'] = test_data['payload'].map(lambda x: get_length(x))
test_data['num_freq'] = test_data['payload'].map(lambda x: get_num_freq(x))
test_data['capital_freq'] = test_data['payload'].map(lambda x: get_capital_freq(x))
test_data['space_freq'] = test_data['payload'].map(lambda x: get_space_freq(x))
test_data['key_num'] = test_data['payload'].map(lambda x: get_key_num(x))

In [42]:
test_data = test_data.drop('url', axis = 1)
test_data = test_data.drop('url_decode', axis = 1)
test_data = test_data.drop('payload', axis = 1)

In [43]:
test_X = test_data.drop('label', axis=1)
test_Y = test_data['label']

In [44]:
test_Y_pred = decision_tree.predict(test_X)
print("Test accuaryï¼š", accuracy_score(test_Y, test_Y_pred))

Test accuaryï¼š 0.9392476362904848